---
layout: page
title: Location
---

<body>
  <h1>Location</h1>
  <h2>Hackathon</h2>
  <p>
    The Hackathon will take place in the 
	  <a target="_blank" href="./map/visitor_map.pdf">
	    Recital Room
	  </a>
	   of the 
	  <a target="_blank" href="https://www.chu.cam.ac.uk/">
	    Churchill College
	  </a>
  	   at the University of Cambridge. 
  </p>
  <p>Churchill College address: Storey's Way, Cambridge CB3 0DS</p>
  <div id="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.665097824254!2d0.09768131632164317!3d52.21313326667684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d870c9e066a949%3A0x4f89f6106a9a6eb2!2sPorters&#39;%20Lodge%2C%20Churchill%20College!5e0!3m2!1sen!2suk!4v1679402674762!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <p>
     For further information on travel please visit Churchill College <a target="_blank" href="https://www.chu.cam.ac.uk/about/visit-us/find-us/">website.</a>
  </p>
  <h2>Accommodation</h2>
  <p>
    We cover accommodation for participants for Thursday 30th of March 2023. Participants are either allocated at Churchill College or the Møller Institute (
	<a target="_blank" href="./map/visitor_map.pdf">
	  See map
	</a>
	).
  </p>
  <h3>
    <a target="_blank" href="https://conferences.chu.cam.ac.uk/what-we-offer/accommodation/">
	  Churchill College Accommodation
	</a>
  </h3>
    <p>
	  Rooms are available from 14:00hrs on the arrival day and we request that rooms are vacated by 10:00hrs on the morning of departure. The Porters’ Lodge is manned 24 hours a day, so you can arrive at any time 
	  of the afternoon (after 14:00hrs) or evening. If checking in after 11:00pm please advise the Porters’ Lodge so that they are aware. tel: 01223 336000 email: <a href="#">porters@chu.cam.ac.uk</a>
    </p>
    <p>
	  Breakfast is included and available in the Dining Hall from 07:30 – 09:30am.
    </p>
    <p>
	  Churchill College has free, on-site parking available on a first-come, first-served basis. As part of their commitment to sustainability, the College has charging points for electric cars which guests are welcome to use.
    </p>
  <h3>
    <a target="_blank" href="https://conferences.chu.cam.ac.uk/what-we-offer/accommodation/">
	  The Møller Institute Accommodation
    </a>
  </h3>
    <p>
	  Rooms are available from 14:30hrs on the arrival day and we request that rooms are vacated by 10:30hrs on the morning of departure. The Porters’ Lodge is manned 24 hours a day, so you can arrive at any time 
	  of the afternoon (after 14:00hrs) or evening. tel: 01223 465500 email: <a href="#">enquiries.moller@chu.cam.ac.uk</a>
    </p>
    <p>
	  Breakfast is included and is served Buffet style self service in their Restaurant between the hours of 7hrs - 9.30hrs. Parking is included and is directly in from of the Accommodation building.
    </p>
    <p>
          For further information on travel please visit their <a target="_blank" href="https://www.mollerinstitute.com/">website.</a>            
    </p>
</body>
