---
layout: page
title: Schedule
---
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="js/functions.js"></script>
</head>
<body onload="load_file('schedule/schedule.csv', 'schedule')">
  <h1>Schedule</h1>
  <p>
    This will be a two days Hackathon with the following schedule:
  </p>
  <div id="schedule">
    <div id="schedule_table"></div>
  </div>
  <p>
    Refreshments and lunch will be served in the recital room during the Hackathon.
  </p>
  <p>
    Teams and participants are free to decide how to spend the time in the evening of Thursday 30th of March. 
  </p>
</body>
